/* 
 * Style rules for the footer.
*/

.footer {
    background-color: var(--primary-text);
    padding: 25px 0;
}

.footer p {
    padding: 0 10vw;
    margin: 0;
    font-weight: 700;
    color: white;
}